ul.cms {
    padding-inline-start: var(--cms-ul-inline-padding, 4em);
    list-style-type: none;
}

ul.cms > li {
    position: relative;
}

ul.cms > li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translatex(-1.5rem) translateY(-50%);
    height: var(--cms-li-bullet-size, 0.5em);
    width: var(--cms-li-bullet-size, 0.5em);
    /** This file should be present in the /public folder of your Nuxt project if you opted in for the 'cms' option **/
    background-image: var(--cms-li-bullet-url, url('~/public/bullet.png'));
    background-size: contain;
    background-position: center;
    position: absolute;
    left: var(--cms-li-left, -0.8em);
    font-size: var(--cms-li-font-size, 1em);
}